apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: production
  labels:
    app: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: revolutio.azurecr.io/revolutio_kubernetes/redis:5.0.4-stretch
        imagePullPolicy: Always
        command: ["redis-server"]
        args:
          - "--maxmemory"
          - "1gb"
          - "--maxmemory-policy"
          - "allkeys-lru"
          - "--requirepass"
          - "$(REDIS_PASSWORD)"
        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: redis-secret
              key: redis-password

        - name: TZ
          value: "UTC"

        ports:
        - containerPort: 6379

        volumeMounts:
        - name: redis-data
          mountPath: /data

        readinessProbe:
          exec:
            command: ["redis-cli", "ping"]
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 5
          failureThreshold: 10

        livenessProbe:
          exec:
            command: ["redis-cli", "ping"]
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 10

        resources:
          requests:
            cpu: "50m"
            memory: "256Mi"
          limits:
            cpu: "250m"
            memory: "512Mi"

      imagePullSecrets:
      - name: acr-secret

      volumes:
      - name: redis-data
        persistentVolumeClaim:
          claimName: redis-pvc
